.header-wrapper{
  position: static;
  top: 0;
  width: 100%;
}

header {
  height: 50px;
  width: 90%;
  margin: 0 5%;
}

/*.portrait-guide{
  position: fixed;
  top: 0;
  margin: 0 auto;
  height: 568px;
  width: 320px;
  border-color: red;
  border-style: solid;
  z-index: 0;
}

.landscape-guide{
  position: fixed;
  top: 0;
  height: 320px;
  width: 568px;
  border-color: blue;
  border-style: solid;
  z-index: 0;
}
*/
