.hexagon {
  position: relative;
  width: $hexSize;
  height: 0.5774*$hexSize;
  background-color: $hexColour;
  margin: 0.2887*$hexSize 0;
  box-shadow: 0 0 0.2*$hexSize $hexShadow;

  span{
    display: block;
    position: absolute;
    top: 0em;
    left: 0;
    width: $hexSize;
    height: 0.577350*$hexSize;
    z-index: 2;
    background: inherit;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 0.7071*$hexSize;
    height: 0.7071*$hexSize;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 0.146647*$hexSize;
    box-shadow: 0 0 0.2*$hexSize $hexShadow;
  }

  &:before {
    top: -0.353553*$hexSize;
  }

  &:after {
    bottom: -0.353553*$hexSize;
  }

  &:hover {
    &:before,
    &:after {
      box-shadow: 0 0 0.4*$hexSize $hexShadowHighlight;
    }
  }
}
