/* Variables */

$rows: 8;
$columns: 14;
$hex-width: 70px;
$margin-width: 5px;
$column-width: ($hex-width + ($margin-width * 2)) / 2;


body {
  margin: 0;
  background-color: $base3;
  font-size:7px;
}

.main-wrapper{
  background-color: $base03;
  width: 100%;
  border-radius: 1em;
  box-shadow: 0 0 2em rgba(0,0,0,1);
}

.hex-container{
  position: relative;
  width: 10em;
  height: 90em;
  margin: 0 auto;
  width: ($columns * $column-width) + $column-width;

  .hexagon {
    position: absolute;
  }
}

@for $i from 1 through $rows {
  .row-#{$i} {
    top: 5 + (($i - 1) *10) + em;
  }
}

@for $i from 1 through $columns {
  .column-#{$i} {
    left: ($i - 1) * $column-width + $margin-width
  }
}